.inset-wrapper {
    max-height: 500px;
    height: 100%;
    justify-content: space-around;
    max-width: 1480px;
    display: flex;
    position: absolute;
    bottom: 50px;
    padding-left: 280px;
    width: calc(100% - 280px);
    align-items: flex-end;
    .movie-descriptions {
        display: flex;
        height: 100%;
        width: 638px;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
        h1 {
            font-size: 60px;
            line-height: 75px;
        }
        p, table {
            font-size: 16px;
            line-height: 25px;
        }
        p, h1, table {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 300;
        }
        
    }
}

._gradient-second-page {
    opacity: 1;
    height: -webkit-fill-available;
    background: linear-gradient(#00000033 0%, #181818 88%);
}

.ratio {
    justify-content: space-between;
    width: 150px;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 16px;
    .ratio__element {
        display: flex;
        width: 75px;
        p{
            margin-left: 10px;
        }
    }
    
}

.film-header {
    width: 100%;
    max-height: 1030px;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: -webkit-fill-available-;
    @media (max-width: 1180px) {
        display: none;
    }
}

.film-header__image {
    position: relative;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    .poster {
        object-fit: cover;
        width: 100%;
        height: 100%;
        // position: absolute;

    }
    form {
        width: 100%;
        border-radius: 30px;
        max-width: 218px;
        height: 60px;
        position: absolute;
        top: 50%;
        left: 15px;
        background-color: #181818c2;
        justify-content: space-around;
        @media (max-width: 1480px) {
            margin-left: calc(45% - 109px);
            // width: 50%;
        }
    }
}

.cast {
    color: white;
    display: flex;
    flex-direction: column;
    height: 250px;
    margin-right: 30px;
    justify-content: space-between;
    .casting {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        opacity: .7;
    }
    p{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
    }
    .actor{
        display: flex;
        align-items: flex-end;
        img {
            border-radius: 5px;
            margin-right: 10px;
        }
    }

}
.schedule-header {
    color: white;
    @media (max-width: 1750px) {
        padding-left: 20px;
    }
    @media (max-width: 1180px) {
        padding-top: 30px;
    }
    h2{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 57px;
        @media (max-width: 1180px) {
            margin-top: 60px;
        }
    }

}

.room-seanses {
    height: -webkit-fill-available !important;
    min-height: 95px !important;
    margin-bottom: 30px;
}

.dates {
    color: white;
    width: 586px;
    justify-content: space-between;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    .day {
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        opacity: .2;
        transition: linear .2s;

    }
    .date {
        opacity: .5;
        font-size: 20px;
        font-weight: 300;
        line-height: 26px;
        transition: linear .2s;
    }
    .date-body {
        cursor: pointer;
    }
    .date-body-active {
        div {
            opacity: 1
        }
    }
}

.dates-pagination {
    height: 2px;
    width: 100%;
    background-color: rgba(134, 134, 134, 0.308);
    margin-top: -6px;
    margin-bottom: 42px;
    
}

.dates-pagination__bullet {
    position: absolute;
    height: 2px;
    width: 75px;
    background-color:  #714dff;;
    box-shadow: 0px 0px 6px 2px #714dff70;
    transition: linear .2s;
    border-radius: 2px;
    @media (max-width: 620px) {
        display: none;
    }
}


.dates-wrapper {
    height: 72px;
    overflow: auto;
    width: 100%;
}

.seats-statuses {
    display: flex;
    max-width: 556px;
    width: 95%;
    justify-content: space-between;
    @media (max-width: 1280px) {
        flex-wrap: wrap;
        margin: 0 auto;
    }
  

}

.seat-status {
    margin-bottom: 15px;
    justify-content: space-between;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 150px;
    align-items: center;


}

.choose-seats-block {
    color: #DDDDDD;
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
    // margin-left: 30px;
  
    @media (max-width: 1750px) {
        justify-content: center;
        margin-left: 15px;
        // padding-left: 15px;
        flex-wrap: wrap;

    }
    .room__number {
        padding-top: 50px;
        padding-left: 60px;
        padding-right: 50px;
        margin-bottom: 30px;
        border-radius: 10px;
        width: 920px;
        height: 780px;
        background-color: #ffffff0a;
        @media (max-width: 1250px) {
            padding-top: 40px;
            // margin: 0 auto;
            width: 95%;
            padding-left: 15px;
            padding-right: 15px;
            max-width: 930px;
            height: -webkit-fill-available;
        }
        h3{
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 300;
            font-size: 30px;
            margin-bottom: 20px;
 
        }
    }
    .picked__seats-cost {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        max-width: 420px;
        width: 100%;
        height: fit-content;
        background-color: #ffffff0a;
        padding-top: 20px;
        @media (max-width: 1750px) {
            margin-right: 15px;
        }
        @media (max-width: 400px) {
            padding-right: 15px;
            padding-left: 15px;
        }

        
    }

}

.screen {
    height: 0;
    box-shadow: 83px 194px 135px 23px #ffffff69;
    width: 700px;
    @media (max-width:1250px) {
        max-width: 700px;
        width: 80%;
        margin: 0 auto;
        box-shadow: 0px 190px 110px 23px #ffffff69;
    }
    
    img{
    transform-style: preserve-3d;
    transform: perspective(2000px) rotateX(289deg);
    margin-top: -120px;
    filter: brightness(0.6);
    margin-left: 50px;
    width: 800px;
    @media (max-width:1250px) {
        width: 100%;
        margin-top: -10%;
        margin-left: 0;
    }
    
        
   
    }
}

.seats-main-wrapper {
    overflow: auto;
    width: 100%;
}

.seats-wrapper {
    width: 840px;
    display: flex;
    justify-content: space-between;
    // @media (max-width: 1280px) {
    //     margin: 0 auto;
        
    // }

}

.seats-rows {
    z-index: 990;
    position: absolute;
    justify-content: space-around;
    text-align: center;
    margin-top: 256px;
    width: 30px;
    // height: 350px;
    display: flex;
    flex-direction: column;
    @media (max-width: 870px) {
       

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 100%;
            left: 0;
            display: block;
            box-shadow: 2px 0px 71px 41px #00000087;
      }
    }
    li{
        opacity: 0.6;
        height: 20px;
        width: 20px;
        justify-content: space-between;
        z-index: 500;
        text-shadow: 1px 1px 14px rgba(246,243,243,1);
    }
}

.seats-columns {
    margin-top: 45px;
    text-align: center;
    height: 30px;
    width: 700px;
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
    @media (max-width: 1170px) {
        margin-top: 10px;
    }

    li{
        width: 20px;
        height: 20px;
        opacity: .4;
    }
}

.seats-rows, .seats-columns {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    // opacity: .4;
   

}

.seats-pattern {
    align-items: center;
    justify-items: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(22, 1fr) ;
    grid-template-rows: repeat(9, 1fr);
    width: 760px;
    height: 350px;
    margin-top: 256px;
    margin-left: 80px;
    // &::after {
    //     content: '';
    //     position: absolute;
    //     width: 0;
    //     height: 100%;
    //     left: 0;
    //     display: block;
    //     box-shadow: 10px 10px 10px 10px red;
    // }
   
    .seat {
        border-radius: 2px;
       pointer-events: none;
        width: 20px;
        height: 23px;
        position: relative;
    }
    ._occupied {
        background-image: url(../images/svg/sold-seat.svg);
    }
    ._free {
        pointer-events: auto;
        background-image: url(../images/svg/free-seat.svg) ;
        cursor: pointer;
        transition: linear .1s;
        box-shadow: 0px 7px 9px -1px black;    
        &:hover {
          box-shadow: 0px 2px 12px 0px #37ff50f0;
        }
    }
    .choosen {
        background-image: url(../images/svg/seat.svg);
    }
}



.your-seats {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .picked-cinema-name {
        font-size: 16px;
    }
    
    .picked-cinema-data {
        font-size: 16px;
        display: flex;
        justify-content: space-between;
    }


}

.choosen-tickets {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom: 3px;
    border-bottom-color: gray;
    border-bottom-style: solid;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    .x-button {
        margin-left: 10px;
        width: 17px;
        height: 17px;
        border: none;
        background-color: transparent;
        background-image: url(../images/svg/cross.svg);
        background-repeat: no-repeat;
    }
}

.choosen__ticket {
    padding-top: 30px;
    width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  
    align-items: center;
    .picked-seat-cost {
        align-items: center;
        display: flex;

    }
}


.total {
    padding-top: 35px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: 400;
    p {
        color: rgba(38, 210, 169, 1);
        font-size: 20px;
        line-height: 25px;

    }
    .summ {

        font-size: 24px;
        line-height: 30px;
    }
    
}

.buy-tickets {
    border-radius: 4px;
    color: white;
    margin-bottom: 50px;
    max-width: 320px;
    width: 100%;
    height: 60px;
    border: none;
    background-color: rgba(12, 191, 148, 1);
    font-family:'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.modal-window-wrapper {
    top: 5vh;
    border-radius: 20px;
    left: calc(50vw - 367px);
    position: fixed;
    z-index: 4000;
    overflow: auto;
    height: 95vh;
    display: none;
    @media (max-width: 740px) {
        top: 0;
        width: 100vw;
        left: 0;
        // margin-bottom: 30px;
    }
 }

.modal-window {
    display: none;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    width: calc(734px - 120px);
    height: calc(910px - 120px);
    background-color: rgba(48, 48, 48, 1);
    font-family:'Source Sans Pro', sans-serif;
    padding: 60px;
    border-radius: 20px;
    @media (max-width: 740px) {
        width: calc(100% - 20px);
        padding: 10px 10px 40px 10px;
    }

    .card-header {
        height: 26px;
        display: flex;
        align-items: center;
        img {
            width: 15px;
            margin-right: 18px;
        }
    }

    h3 {
        font-weight: 300;
        font-size: 40px;
        line-height: 50px;
        margin-top: 30px;
    }
    .radio-button {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;
        display: inline-flex;
        align-items: center;
        user-select: none;
      
        input{
           position: absolute;
           z-index: -1;
           opacity:0;
        }
    }
    .checkbox-text:before {
        content: '';
	    position: absolute;
	    top: 0px;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 4px;
	    background: #CDD1DA;
    }
    .checkbox-text {
        position: relative;
	    padding: 2px 0 0 40px;
	    cursor: pointer;
    }

    .radio-button input:checked + .checkbox-text:before {
        background-color: #ffffff0e;
        background-image: url(../images/svg/tick.svg);
        background-repeat: no-repeat;
        background-position: bottom 5px left 6px;
    }
    .radio-button input:checked + .checkbox-text:after {
        left: 26px;
    }
    .radio-button input:focus + .checkbox__text:before {
        box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
    }

}

.modal-telephone {
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    color: white;
    input {
        background-color: #181818;
        width: 614px;
        height: 60px;
        vertical-align: center;
        border-width: 0px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        color: white;

        @media (max-width: 740px) {
            width: 100%;
        }
    }
    .telephone-description {
        margin-top: 10px;
        opacity: .6;
        margin-bottom: 10px;
    }
}

.modal-card-data {
    width: calc(614px - 80px);
    height: calc(342px - 80px);
    background-color: rgba(0, 0, 0, 0.342);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 15px;
    padding: 40px;
    @media (max-width: 740px) {
        width: 95%;
        padding: 10px;
        flex-direction: column;
        height: -webkit-fill-available;

    }
    p {
        width: 400px;
        @media (max-width: 740px) {
            width: 100%;
        }
    }
    label {
        display: flex;
        flex-direction: column;
        @media (max-width: 740px) {
            width: 100%;
        }
    }
    input {
        height: 60px;
        border-radius: 10px;
        border-width: 0px;
        margin-top: 5px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 26px;
        font-weight: 600;
        
    }
    .card-number {
       width: 382px;
       @media (max-width: 740px) {
        max-width:382px;
        width: 90%;
    }
    }
    .valid-thru {
        width: 129px;
        @media (max-width: 740px) {
            max-width: 129px;
            width: 90%;
        }
    }
    .cardholder {
        width: 423px;
        @media (max-width: 740px) {
            max-width: 423px;
            width: 90%;
        }
    }
    .cvc {
        width: 89px;
        @media (max-width: 740px) {
            max-width: 89px;
            width: 90%;
        }
    }
}

.modal-pay {
    width: 100%;
    height: 60px;
    background-color: #0CBF94;
    color: white;
    border-radius: 4px;
    border-width: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.modal-active {
    display: flex;
}
.modal-background {
    z-index: 3000;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 79%);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
}

.close {
    opacity: .5;
    transform: rotate(90deg);
    width: 30px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 15px;
    top: 30px;
    cursor: pointer;
    &::after {
        content: " ";
        display: block;
        width: 20px;
        height: 4px;
        transform: rotate(90deg);
        position: absolute;
        background-color: rgb(255, 255, 255);

    }
    &::before {
        transform: rotate(270deg);
        content: "Отмена";
        display: block;
        
        width: 30px;
        height: 10px;
        font-weight: 600;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 12px;
        position: absolute;
        top: 40px;
        right: 8px;
    }

}

.frames-wrapper {
    width: 100%;
    height: 610px;
    overflow: hidden;
    @media (max-width: 1180px) {
        height: 350px;
    }
    .swiper-slide {
        // display: flex;
        overflow: hidden;
        border-radius: 15px;
        width: 860px;
        height: 560px;
        @media (max-width: 1180px) {
            width: 50vw;
            height: 95%;
        }
    }
    img {
        object-fit: cover;
        width: 100%;
        border-radius: 10px;
    }
    .swiper-scrollbar {
        position: relative;
    
    }
    .swiper-scrollbar-drag {
        background-color: rgba(255, 255, 255, 0.466); 
    }
    .swiper-wrapper {
        height: 100%;
    }
}

.movie-frames {
    height: 740px;
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.027);
    @media (max-width: 1180px) {
        height: 400px;
    }
    @media (max-width: 900px) {
        display: none;
    }
}