.news-filter {
    color: white;
    padding-bottom: 5px;
    border-bottom: solid 2px gray;
    
    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 14px;
        opacity: .3;
        margin-bottom: 5px;
    }
    input {
        width: 260px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 16px;
        background-color: rgba(24, 24, 24, 1);
        color: white;
        outline: none;
        border: none;
    }
    input::-webkit-calendar-picker-indicator { background-image: url(../images/svg/calendar.svg); }
}

.news-heading {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 40px;
    ._news {
        margin-top: 0;
    }
}

.news-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.news-block {
    color: white;
    height: 480px;
    position: relative;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    overflow: hidden;
    margin-bottom: 40px;
    form {
        z-index: 100;
    }
    .news__details {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 14px;
        z-index: 100;
        width: 130px;
        height: 50px;
        background-color: #26D2A9;
        color: white;
        text-align: center;
        border-radius: 8px;
        border: none;
        display: block;
        text-decoration: none;
        
    }
    img{
        width: 100%;
        object-fit: fill;
        // height: 100%;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        filter: brightness(.7);
    }
    .news__date {
        z-index: 100;
        height: 140px;
    }
    .news__date-header {
        z-index: 100;
    }
    .news__desc {
        z-index: 100;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        opacity: .8;
    }
}

.news-body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 382px;
    z-index: 100;
    margin: 50px;
}

._long {
    width: 878px;
    // flex-basis: 2;
}

._short {
    width: 572px;
    // flex-basis: 1;
}