<div class="dates">
    <div class="week">
        <div class="day">Сегодня</div>
        <div class="date">12 Марта</div>
    </div>
    <div class="week">
        <div class="day">Завтра</div>
        <div class="date">13 Марта</div>
    </div>
    <div class="week">
        <div class="day">Четверг</div>
        <div class="date">14 Марта</div>
    </div>
    <div class="week">
        <div class="day">Пятница</div>
        <div class="date">15 Марта</div>
    </div>
    <div class="week">
        <div class="day">Суббота</div>
        <div class="date">16 Марта</div>
    </div>
    
</div>
<div class="dates-pagination">

</div>