<footer>
    
        <div class="footer-socials">

            <div class="footer-leftside">
                <div class="footer-links">
                    <a href="vk.com">
                        <img src="assets/images/svg/vk.svg" alt="vk">
                    </a>
                    <a href="facebook.com">
                        <img src="assets/images/svg/fb.svg" alt="facebook">
                    </a>
                    <a href="twitter.com">
                        <img src="assets/images/svg/tw.svg" alt="twitter">
                    </a>
                    <a href="instagram.com">
                        <img src="assets/images/svg/inst.svg" alt="instagram">
                    </a>
                    <a href="youtube.com">
                        <img src="assets/images/svg/yt.svg" alt="youtube">
                    </a>
                </div>
                <p class="footer-copyrights"> © 2007 — 2019 Movee. Все права защищены </p>
            </div>


            <div class="footer-middle">
                <p class="footer-subscribe">Подпишитесь на нашу новостную рассылку</p>
                    <div class="mail-enter-form">

                        <label for="email">
                          <p name='email' class="email__placeholder">
                            <img src="assets/images/svg/convert.svg" alt="">  
                            E-mail:
                          </p>
                          <input type="email" name="email" id="email">
                        </label>
                        <button class="submit-button">
                            <img src="assets/images/svg/right_arrow.svg" alt="submit-arrow">
                        </button>
                          
                      </div>
                
            </div>

            <div class="footer-right">
                <div class="footer-mobile-app">
                    <p class="footer-subscribe">Мобильное приложение Movee</p>
                    <div class="app__links">
                        <a href="appstore.com">
                            <img src="assets/images/svg/btn_sch_appstore.svg" alt="app-store">
                        </a>
                        <a href="googleplay.com">
                            <img src="assets/images/svg/btn_sch_google.svg" alt="google-play">
                        </a>
                    </div>
                </div>

            </div>

        </div>
       
    </footer>
