<header class="header">

    <div class="main-background-images">
        <img style='display: none;' data-name="pet_dragons" src="assets/images/pet_dragons.jpg" alt="how_to_pet_dragons_background" class="background__image">
        <img style='display: none;' data-name="alita" src="assets/images/alita_l.jpg" alt="alita_background" class="background__image">
        <img style='display: block;' data-name="greenbook" src="assets/images/green_book_l.jpg" alt="green_book_background" class="background__image">
        <div class="background__image gradient"></div>
    </div>


    <div class="wrapper _header_wrapper">
        <div class="movie-descriptions">

            <section data-name="greenbook" class="movie-data">
                <p class="today__film _small_today">СЕГОДНЯ В КИНО</p>
                <h3  class="movie__name">Зеленая книга</h3>

                <div  class="movie__production-data">
                    <ul>
                        <li>2019</li>
                        <li>США</li>
                        <li>Роберт Родригес</li>
                        <li>
                            <span>Комедия</span>
                            <span>Драма</span>
                            <span>Биография</span>
                        </li>
                        <li>2.01</li>
                        <li>16+</li>
                    </ul>
                </div>

                <div class="seanses"></div>

                <div class="movie__media">

                    <a href="green-book-tickets.html" class="all-buttons _schedule-tickets"> <span>Расписание и билеты</span> </a>
                    <a href="https://www.youtube.com/watch?v=e6b9urtUJt0" target="_blank" class="watch__trailer">
                        <!-- это должна быть ссылка, а не кнопка, по которой надо перейти, и включить в модальном окошке трейлер с ютуба -->
                        <button class="play__trailer">
                            <img src="assets/images/svg/green_triangle_play.svg" alt="play-triangle">
                        </button>
                        <p>Смотреть трейлер</p>
                    </a>
                </div>
            </section>
        </div>
    </div>

    <aside class="right-cinema-slider swiper">
        <div class="swiper-wrapper">
            <img data-name='greenbook' class="swiper-slide" src="assets/images/greenbook_m.jpg" alt="greenbook">
            <img data-name='pet_dragons' class="swiper-slide" src="assets/images/pet_dragons_m.jpg" alt="pet_dragons_m">
            <img data-name='alita' class="swiper-slide" src="assets/images/alita_m.jpg" alt="alita_m">
            <img data-name='guests' class="swiper-slide" src="assets/images/guests_m.jpg" alt="guests">
            <img data-name='happy_death' class="swiper-slide" src="assets/images/happy_death_day_m.jpg" alt="happy_death_day_m">
            <img data-name='captain_marvel' class="swiper-slide" src="assets/images/captain_marvel_m.jpg" alt="captain_marvel_m">

        </div>
        <div class="swiper-scrollbar"></div>


        
    </aside>


  
</header>

