<aside class="header-aside-bar">
    <div class="background"></div>
    <div class="bar-wrapper">
            <h2 class="logo _aside-logo">
                <a href="index.html">
                    Movee
                </a> 
            </h2>
        <div class="top">

        <div class="cinema-location">
            <img src="assets/images/svg/pin.svg" alt="geo-pin">
            <select name="city" id="city">
                <option value="Ижевск">Ижевск</option>
                <option value="Сарапул">Сарапул</option>
                <option value="Воткинск">Воткинск</option>
                <option value="Глазов">Глазов</option>
            </select>
        </div>
        
        <div class="burger-menu"></div>

        <div class="sections">
            <a href='schedule.html'>Расписание</a>
            <a href='news.html'>Новости</a>
            <a href='#'>Акции</a>
            <a href='contacts.html'>Контакты</a>
        </div>
        
        <div class="contacts">
            <a href="tel:88005553535">8 800 555 35 35</a>
        </div>
        <!-- <div class="effect-circle"></div> -->
        </div>

    </div>
</aside>